/* Theme */

main {
	background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/wmap.png");
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
